@{
    ViewBag.Title = "My Portfolio";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>

    <h1>About Me</h1>
 
    <br />
        <table>
            <tr>
                <td>Name :</td>
                <td>@ViewBag.Name</td>
            </tr>
            <tr>
                <td>Id :</td>
                <td>@ViewBag.Id</td>
            </tr>
            <tr>
                <td>Email : </td>
                <td>@ViewBag.Email</td>
            </tr>
            <tr>
                <td>Contact No :</td>
                <td>@ViewBag.ContactNo</td>
            </tr>
        </table>

   


</body>
</html>
