@{
    ViewBag.Title = "Projects";

}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <h1>My Projects</h1>
    <br />


    <table>
        <tr>
            <th style="border: 1px solid black;">Course</th>
            <th style="border: 1px solid black;">Title</th>
            <th style="border: 1px solid black;">Description</th>
            <th style="border: 1px solid black;">Github Link</th>
        </tr>
        <tr>
            <td style="border: 1px solid black;">ATP 3</td>
            <td style="border: 1px solid black;">Apple Gadget and Gears</td>
            <td style="border: 1px solid black;">E-commerce site built with NestJs in backend , NextJs in front end with Postgres database </td>
            <td style="border: 1px solid black;"><a href="https://github.com/Shohaibur/apple-gadget-backend-nest">apple-gadgets-nest</a></td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Web Technologies</td>
            <td style="border: 1px solid black;">MotorHub-store/td>
            <td style="border: 1px solid black;">
                An academic project in course- Web Technologies, Domain-E-commerce
            </td>
            <td style="border: 1px solid black;"><a href="https://github.com/Shohaibur/MotorHub-store">MotorHub-store</a></td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">OOP 2</td>
            <td style="border: 1px solid black;">Hospital Management System</td>
            <td style="border: 1px solid black;">An academic project on C# done by me and my groupmates 'Hospital Management System'</td>
            <td style="border: 1px solid black;"><a href="https://github.com/Shohaibur/Hospital-Management">Hospital-Management</a></td>
        </tr>

        <tr>
            <td style="border: 1px solid black;">OOP 1</td>
            <td style="border: 1px solid black;">School Management System</td>
            <td style="border: 1px solid black;">An academic project done in OOP1 (Java) by me and my groupmates</td>
            <td style="border: 1px solid black;"><a href="https://github.com/Shohaibur/School-management-system">School-management-system</a></td>
        </tr>



        <!-- Add more rows for additional projects as needed -->
    </table>




</body>
</html>
